{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "plugins": ["@typescript-eslint", "unused-imports", "react", "import"],
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:react/jsx-runtime", "plugin:@typescript-eslint/recommended", "plugin:import/typescript", "prettier", "airbnb"],
  "rules": {
    "import/prefer-default-export": "off",
    "no-console": "warn",
    "import/no-unresolved": "error",
    "max-len": ["warn", { "code": 200 }],
    "@typescript-eslint/no-explicit-any": "off",
    "semi": "off",
    "comma-dangle": "warn",
    "no-unused-vars": "warn",
    "arrow-body-style": "warn",
    "camelcase": "off",
    "import/extensions": "off",
    "import/no-cycle": "off",
    "no-new": "warn",
    "object-curly-newline": "off",
    "implicit-arrow-linebreak": "off"
  },
  "globals": {
    "React": true,
    "JSX": true
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true // always try to resolve types under `<root>@types` directory even it doesn't contain any source code, like `@types/unist`
      }
    }
  }
}
