{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "plugins": ["@typescript-eslint", "unused-imports", "react", "import"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "import/prefer-default-export": "off",
    "semi": "off",
    "camelcase": "off",
    "import/extensions": "off",
    "import/no-cycle": "off",
    "object-curly-newline": "off",
    "implicit-arrow-linebreak": "off",
    "@typescript-eslint/no-explicit-any": "off", //main remvoals, the rest warning will be turned to errors later on
    "no-console": "off",
    "import/no-unresolved": "off", // change to "error"
    "max-len": ["error", { "code": 120 }],
    "comma-dangle": "warn",
    "no-unused-vars": "off",
    "arrow-body-style": "error", //change to error
    "no-new": "warn",
    "no-param-reassign": "error", // change to "error"
    "@typescript-eslint/no-inferrable-types": "warn",
    "@typescript-eslint/ban-ts-comment": "off",
    "no-empty": "error", // change to "error"
    "@typescript-eslint/no-var-requires": "error",
    "@typescript-eslint/no-this-alias": "error",
    "@typescript-eslint/ban-types": "warn",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/explicit-module-boundary-types": "error",
    "no-var": "error", // change to "error"
    "no-prototype-builtins": "warn",
    "prefer-const": "error", // change to "error"
    "react/prop-types": "error",
    "no-async-promise-executor": "warn",
    "@typescript-eslint/no-empty-function": "error",
    "react/jsx-key": "warn",
    "no-empty-pattern": "warn",
    "react/jsx-no-target-blank": "warn",
    "react/no-unescaped-entities": "off",
    "prefer-spread": "warn"
  },
  "globals": {
    "React": true,
    "JSX": true
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true // always try to resolve types under `<root>@types` directory even it doesn't contain any source code, like `@types/unist`
      }
    }
  }
}
