body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -ms-overflow-style: none !important;
}

#root {
  height: 100%;
  -ms-overflow-style: none !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.ant-dropdown-menu.ant-dropdown-menu-root {
  max-height: 500px;
  overflow-y: auto;
}
.up24h {
  color: #50bb35;
}
.down24h {
  color: #f06565;
}
